@model IEnumerable<SistemaBarbearia.Models.Agenda>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agendar Horario</a>
</p>

<h1>
    Selecione um servico para ver os agendamentos
</h1>
<form asp-action="ChangeServico" method="post" id="agendaForm">
    <div>
        <label class="form-label">Selecione um Servico</label>
        <select class="form-control" id="agendaSelect" name="agendaServico">
            <option value="">Selecione um Servico</option>

            @foreach (Servico servico in ViewBag.Servicos)
            {
                if (ViewBag.SelectedAgenda != null && ViewBag.SelectedAgenda == servico.id)
                {
                    <option value="@servico.id" selected>@servico.descricao</option>
                }
                else
                {
                    <option value="@servico.id">@servico.descricao</option>

                }

            }
        </select>
    </div>
    <script>
        var selectElement = document.getElementById('agenciaSelect');

        selectElement.addEventListener('change', function () {
            var formElement = document.getElementById('agenciaForm');
            formElement.submit();
        })
    </script>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.barbeiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diaAgendado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trabalhoStatus)
            </th>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor_total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tempo_total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.barbeiro.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horario.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaAgendado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trabalhoStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor_total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tempo_total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
