@model List<Agenda>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agendar Horario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Barbeiro:
            </th>
            <th>
                Cliente:
            </th>
            <th>
                Inicio:
            </th>
            <th>
                Fim:
            </th>
            <th>
                Dia Agendado:
            </th>
            <th>
                Status:
            </th>
            <th>
                Servicos:
            </th>
            <th>
                Valor total:
            </th>
            <th>
                Tempo total:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var fundo = "";
            @if (item.trabalhoStatus == Agenda.Trabalho.Feito)
            {
                fundo = "table-success";
            }
            else if (item.trabalhoStatus == Agenda.Trabalho.Falta)
            {
                fundo = "table-danger";
            }
            else if (item.trabalhoStatus == Agenda.Trabalho.Remarcado)
            {
                fundo = "table-warning";
            }
            else if (item.trabalhoStatus == Agenda.Trabalho.Cancelado)
            {
                fundo = "table-dark";
            }
            else
            {
                fundo = "";    
            }
            <tr class="@fundo">
            <td>
                @item.barbeiro.nome
            </td>
            <td>
                @item.cliente.nome
            </td>
            <td>
                @item.horario.inicio
            </td>
            <td>
                @item.horario.fim
            </td>
            <td>
                @item.diaAgendado
            </td>
            <td>
                <form asp-action="UpdateStatus" asp-route-id="@item.id">
                        <span class="d-block p-2">
                            <button type="submit" name="status" value="0" class="btn btn-danger">Falta</button>
                            <button type="submit" name="status" value="3" class="btn btn-dark">Cancelar</button>
                        </span>
                        <span class="d-block p-2">
                            <button type="submit" name="status" value="1" class="btn btn-success">Feito</button>
                            <button type="submit" name="status" value="2" class="btn btn-warning">Remarcar</button>
                        </span>
                </form>
            </td>
            <td>
                    @foreach (var servico in item.servicos)
                    {
                        <span class="d-block p-2">@servico.descricao</span>
                    }

            </td>
            <td>
                @item.valor_total
            </td>
            <td>
                @item.tempo_total
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
        
}
    </tbody>
</table>
